@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-style: regular;
    font-weight: 100;
}

* {
    font-family: 'roboto';
}

.cell {
    border: 0;
    margin: 0;
    background-color: red;
    text-align: center;
}

html {
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0C0C0;
    min-width: 100%;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ECECEC;
    min-width: 100%;
    min-height: 100%;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/*
there is probably a cleaner way to make a 64x64 grid than this, but unfortunately i could not find how
*/
.canvas {
    height: 80vh; 
    width: 80vh; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 5px solid black;
    flex: 0 0 auto;
}

.color-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.color-container button {
    padding: 5fr;
}

button:active {
    transform: scale(.9);
}

.footer {
    display: flex;
    padding: 8px 0 8px 0;
    background-color: #C0C0C0;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}
.footer *{
    font-size: 16px;
    text-decoration: none;
    color: black;
}